.about-materials {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 20vw;
    padding-right: 20vw;
}

.about-material-image {
    display: flex;
    background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/s960x960/51946523_2527000433983684_5978738443335761920_o.jpg?_nc_cat=105&_nc_oc=AQlpvt1z8E5ePPPSKhXSHDMb3wlABbjxwjkqYY9N12ByBmuiYjVjFZ8rPpy47GY-_cJfeB2PcIEARPbN5k0Saf5Y&_nc_ht=scontent-sjc3-1.xx&oh=5c2bd2f7b9f6f1340ea5bf6dd7e0a3ef&oe=5E4E340F");
    background-position: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    // margin: 100px 75px 5px 70px;
    // margin-left: 350px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    // min-height: 500px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about-main-text {    
        p {
            display: flex;
            text-align: center;
            font-family: 'Merriweather Sans', sans-serif;
            right: 250px;
            font-size: 24px;
            // left: 480px;
            // position: relative;
            flex-direction: column;
            font-weight: bold;
        }
    }
    
    .about-sub-text {

        p {
            display: flex;
            text-align: center;
            font-family: 'Merriweather Sans', sans-serif;
            right: 250px;
            font-size: 14px;
            // left: 480px;
            // position: relative;
            flex-direction: column;
        }
    }
}
