.logout-page {
    position: absolute;
    font-family: sans-serif, bold;
    font-size: 12px;    
}

.logout-button {
    font-family: sans-serif;
    font-size: 10px;
}


.account-page {
    display: flex;
}