.footer-container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid lightgray;
    width: 100%;
    background-color: #212a2f;
    z-index: 0;
}

.footer-container-flex-left {
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 5px;
}

.footer-container-flex-right {
    display: flex;
    justify-content: space-around;
    color: white;
}

.footer-copyright {
    color: white;
    font-weight: 400;
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.footer-git {
    font-weight: 400;
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.footer-git:hover {
    text-decoration: underline;
}

.footer-linkedin {
    font-weight: 400;
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.footer-linkedin:hover {
    text-decoration: underline;
}

.footer-angel {
    font-weight: 400;
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.footer-angel:hover {
    text-decoration: underline;
}

.footer-container i {
  margin: 0px 2px;
}

.fa-github {
    color: white;
    font-size: 1.5rem;
}

.fa-linkedin {
    color: white;
    font-size: 1.5rem;
}

.fa-angellist {
    color: white;
    font-size: 1.5rem;
}
