.login-form-container {
    background-color: #F1EBE7;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 215px 220px 215px 220px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 450;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
    }

    input {

        box-sizing: border-box;
        min-height: 40px;
        min-width: 400px;
        padding: 20px;
        border: 1px solid #E6E5E5;
        margin: 10px;
        font-size: 13px;
        border-radius: 2px;
    }


    .submit:hover {
        cursor: pointer;
        background-color: #EEE8E6;
        color: black;
    }

    .submit{
        background-color: black;
        color: white;
        box-sizing: border-box;
        //min-width: 390px;
       // min-height: 40px;
        padding: 20px;
        margin: 20px;
        transition: 0.3s;
        border: 2px solid black;
    }
}
