.materials-main {

}

.images-panel {

}

.left-image-panel {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://di2ponv0v5otw.cloudfront.net/posts/2018/04/13/5ad0d29261ca10b99302e25c/m_5ba418cf6a0bb7321db97edd.jpg");
    background-position: relative;
    width: 50vw;
    height: 70vh;
    margin: 90px 500px 170px 200px;
    margin-left: 200px;
    margin-right: 200px;
}

.left-small-image {
    display: flex;
    background-position: relative;
    width: 105vw;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://di2ponv0v5otw.cloudfront.net/posts/2018/04/30/5ae80640739d486ddf7c7820/m_5ae8069272ea88422b84debb.jpg");
}

.left-gif {
    display: flex;
    position: relative;
    width: 40vw;
    height: 45vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.allbirds.com/image/upload/f_auto,q_auto/v1/production/homepage/en-US/images/432rfm1a1rexSqNBYRx1vf/1");
}

.left-links {

    .left-link-text {
        color: white;
        .left-link {
            border-bottom: 2px solid white;
            margin: 20px;
            padding: 0px 10px 0px 10px;
            padding-bottom: 10px;
        }

        .left-link:hover {
            margin: -10px 10px -10px 10px;
            color: white;
        }
    }
}

.right-image-panel {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.businessinsider.com/images/5cc9db1c021b4c1545564eb3-320-240.jpg");
    background-position: relative;
    width: 50vw;
    height: 52vh;
    margin: 90px 500px 170px 200px;
    margin-left: 950px;
    margin-right: 950px;
}

.right-small-image {
    display: flex;
    background-position: relative;
    width: 20vw;
    height: 30vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://pmcfootwearnews.files.wordpress.com/2018/03/allbirds-women.jpg?w=700&h=437&crop=1");
}

.right-gif {
    display: flex;
    position: relative;
    width: 12vw;
    height: 25vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.allbirds.com/image/upload/f_auto,q_auto/v1/production/homepage/en-US/images/WSq9PUDu2tsVLHsGlgktD/1");
}

.right-links {

    .right-link-text {
        color: white;
        .right-link {

        }
    }
}