.materials-main {

}

.images-panel {

}

.left-image-panel {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.left-links {

    .left-link-text {
        color: black;
        .left-link {

        }
    }
}