.materials-main {

}

.images-panel {

}

.left-image-panel {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.left-links {

    .left-link-text {
        color: black;
        .left-link {

        }
    }
}

.right-image-panel {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://pmcfootwearnews.files.wordpress.com/2018/03/allbirds-women.jpg?w=700&h=437&crop=1");
    background-position: relative;
    width: 30vw;
    height: 52vh;
    margin: 90px 500px 170px 200px;
    margin-left: 950px;
    margin-right: 950px;

}