.navbar {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
  width: 130px;
  left: 1%;
}

.dropdown-women:hover {
  border-bottom: 2px solid black;
}

.dropdown-men:hover {
  border-bottom: 2px solid black;
}

.logo {
  height: 60px;
  top: 8px;
  position: relative;
  transform: translateX(-50%);
  font-family: 'Lobster Two', cursive;
  font-size: 36px;
  justify-content: center;
  margin-left: 210px;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
  width: 180px;
  right: 10%;
}

.nav-materials:hover {
  border-bottom: 2px solid black;
}

.nav-branches:hover {
  border-bottom: 2px solid black;
}

