.shoe-index-text {
    font-family: sans-serif;
    margin-top: 75px;
    margin-left: 300px;
}

.shoe-category {
    display: flex;
    flex-wrap: wrap;
    
}


.shoe-image {
    width: 275px;
    height: 275px;
    margin: 10px;
}

.shoe-index-item:hover {
    box-shadow: 80px 80px 80px 80px whitesmoke;
}